/* source-sans-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
  url('assets/fonts/source-sans-pro-v14-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/source-sans-pro-v14-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* source-sans-pro-700 - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
  url('assets/fonts/source-sans-pro-v14-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/source-sans-pro-v14-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* neuton italic - latin */
@font-face {
  font-family: 'Neuton';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Neuton Italic'), local('Neuton-Italic'),
  url('assets/fonts/neuton-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/neuton-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
